h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 60px;
}
a {
  width: 150px;
  text-align: center;
  margin:0 auto;
}
.actions {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
}

.entry {
  margin-top: 40px;
  margin-bottom: 40px;
}

.todos-filter-info {
  float: right;
  font-weight: normal;
}

.todos-filter {
  float: right;
  position: relative;
  left: 10px;
  top: -5px;
  margin-left: -10px;
}

.todo {
  display: flex;
  margin-bottom: 10px;

  .todo-done {
    margin: 0 20px 0 0;
  }

  .todo-label {
    position: relative;
    top: 2px;
    cursor: pointer;

    &.todo-label-done {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}

.input {
  margin-left: auto;
    margin-right: auto;
    width: 8em;
}

///////


