
<div class="right">
    <!-- <button class="home"><h2>Home</h2></button><br>
    <button class="profile"><h2>Profile</h2></button><br> -->
    <a href="/#/features"><button class="search"><h2><a>View Library</a></h2></button></a>
    <!-- <a href="/#/"><button class="search"><h2><a>Search For A Game</a></h2></button></a> -->
    
  </div>

<!-- <div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <anms-big-input [placeholder]="'anms.examples.todos.input' | translate"
                      [value]="newTodo"
                      (keyup)="onNewTodoChange($event.target.value)"
                      (keyup.enter)="!isAddTodoDisabled && onAddTodo()"
                      (keyup.escape)="onNewTodoClear()">
        <anms-big-input-action fontSet="fas" fontIcon="fa-plus" faIcon="plus" color="accent"
                               (action)="onAddTodo()"
                               [disabled]="isAddTodoDisabled"
                               [matTooltip]="'anms.examples.todos.tooltip.add' | translate"
                               matTooltipPosition="before">
        </anms-big-input-action>
        <anms-big-input-action fontSet="fas" fontIcon="fa-trash" faIcon="trash" color="warn"
                               (action)="onRemoveDoneTodos()"
                               [disabled]="isRemoveDoneTodosDisabled"
                               matTooltip="Remove done todos"
                               [matTooltip]="'anms.examples.todos.tooltip.remove' | translate"
                               matTooltipPosition="after">
        </anms-big-input-action>
      </anms-big-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>
        {{ 'anms.examples.todos.list' | translate }}
        <button class="todos-filter" mat-icon-button [matMenuTriggerFor]="todosFilter">
          <fa-icon icon="filter"></fa-icon>
        </button>
        <mat-menu class="todos-filter-menu-overlay" #todosFilter="matMenu" xPosition="before">
          <button mat-menu-item (click)="onFilterTodos('ALL')" [ngClass]="{ active: todos.filter === 'ALL' }">
            <mat-icon><fa-icon icon="tasks"></fa-icon></mat-icon>
            <span>{{ 'anms.examples.todos.filter.all' | translate }}</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('DONE')" [ngClass]="{ active: todos.filter === 'DONE' }">
            <mat-icon><fa-icon icon="check"></fa-icon></mat-icon>
            <span>{{ 'anms.examples.todos.filter.done' | translate }}</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('ACTIVE')" [ngClass]="{ active: todos.filter === 'ACTIVE' }">
            <mat-icon><fa-icon icon="square"></fa-icon></mat-icon>
            <span>{{ 'anms.examples.todos.filter.active' | translate }}</span>
          </button>
        </mat-menu>
        <mat-chip-list class="todos-filter-info d-none d-sm-block d-md-none d-lg-block">
          <mat-chip [disabled]=true [ngPlural]="filteredTodos.length">
            {{ 'anms.examples.todos.filter.description' | translate }}
            <ng-template ngPluralCase="other">{{ filteredTodos.length }} {{ 'anms.examples.todos.filter.items' | translate }}</ng-template>
            <ng-template ngPluralCase="=1">{{ 'anms.examples.todos.filter.one' | translate }} {{ 'anms.examples.todos.filter.item' | translate }}</ng-template>
            <ng-template ngPluralCase="=0">{{ 'anms.examples.todos.filter.none' | translate }} {{ 'anms.examples.todos.filter.items' | translate }}</ng-template>
          </mat-chip>
        </mat-chip-list>
      </h2>
      <mat-card *ngFor="let todo of filteredTodos" class="todo"
                [ngClass]="routeAnimationsElements">
        <mat-checkbox class="todo-done" [checked]="todo.done" (change)="onToggleTodo(todo)"></mat-checkbox>
        <span class="todo-label"
              [ngClass]="{ 'todo-label-done': todo.done }"
              (click)="onToggleTodo(todo)">
          &nbsp;{{todo.name}}&nbsp;
        </span>
      </mat-card>
      <br>
      <br>
    </div>
    <div class="offset-md-1  col-md-5">
      <h2>{{ 'anms.examples.todos.example' | translate }}</h2>
      <p>
        {{ 'anms.examples.todos.text1' | translate }}
        <code>{{ 'anms.examples.todos.text2' | translate }}</code>
        {{ 'anms.examples.todos.text3' | translate }}
      </p>
      <p>
        {{ 'anms.examples.todos.text4' | translate }} <code>ngrx</code>
        {{ 'anms.examples.todos.text5' | translate }}
      </p>
      <p>{{ 'anms.examples.todos.text6' | translate }}</p>
      <br>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <anms-big-input [placeholder]="'anms.examples.todos.input' | translate"
                      [value]="newTodo"
                      (keyup)="onNewTodoChange($event.target.value)"
                      (keyup.enter)="!isAddTodoDisabled && onAddTodo()"
                      (keyup.escape)="onNewTodoClear()">
        <anms-big-input-action fontSet="fas" fontIcon="fa-plus" faIcon="plus" color="accent"
                               (action)="onAddTodo()"
                               [disabled]="isAddTodoDisabled"
                               [matTooltip]="'anms.examples.todos.tooltip.add' | translate"
                               matTooltipPosition="before">
        </anms-big-input-action>
        <anms-big-input-action fontSet="fas" fontIcon="fa-trash" faIcon="trash" color="warn"
                               (action)="onRemoveDoneTodos()"
                               [disabled]="isRemoveDoneTodosDisabled"
                               matTooltip="Remove done todos"
                               [matTooltip]="'anms.examples.todos.tooltip.remove' | translate"
                               matTooltipPosition="after">
        </anms-big-input-action>
      </anms-big-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>
        {{ 'anms.examples.todos.list' | translate }}
        <button class="todos-filter" mat-icon-button [matMenuTriggerFor]="todosFilter">
          <fa-icon icon="filter"></fa-icon>
        </button>
        <mat-menu class="todos-filter-menu-overlay" #todosFilter="matMenu" xPosition="before">
          <button mat-menu-item (click)="onFilterTodos('ALL')" [ngClass]="{ active: todos.filter === 'ALL' }">
            <mat-icon><fa-icon icon="tasks"></fa-icon></mat-icon>
            <span>{{ 'anms.examples.todos.filter.all' | translate }}</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('DONE')" [ngClass]="{ active: todos.filter === 'DONE' }">
            <mat-icon><fa-icon icon="check"></fa-icon></mat-icon>
            <span>{{ 'anms.examples.todos.filter.done' | translate }}</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('ACTIVE')" [ngClass]="{ active: todos.filter === 'ACTIVE' }">
            <mat-icon><fa-icon icon="square"></fa-icon></mat-icon>
            <span>{{ 'anms.examples.todos.filter.active' | translate }}</span>
          </button>
        </mat-menu>
        <mat-chip-list class="todos-filter-info d-none d-sm-block d-md-none d-lg-block">
          <mat-chip [disabled]=true [ngPlural]="filteredTodos.length">
            {{ 'anms.examples.todos.filter.description' | translate }}
            <ng-template ngPluralCase="other">{{ filteredTodos.length }} {{ 'anms.examples.todos.filter.items' | translate }}</ng-template>
            <ng-template ngPluralCase="=1">{{ 'anms.examples.todos.filter.one' | translate }} {{ 'anms.examples.todos.filter.item' | translate }}</ng-template>
            <ng-template ngPluralCase="=0">{{ 'anms.examples.todos.filter.none' | translate }} {{ 'anms.examples.todos.filter.items' | translate }}</ng-template>
          </mat-chip>
        </mat-chip-list>
      </h2>
      <mat-card *ngFor="let todo of filteredTodos" class="todo"
                [ngClass]="routeAnimationsElements">
        <mat-checkbox class="todo-done" [checked]="todo.done" (change)="onToggleTodo(todo)"></mat-checkbox>
        <span class="todo-label"
              [ngClass]="{ 'todo-label-done': todo.done }"
              (click)="onToggleTodo(todo)">
          &nbsp;{{todo.name}}&nbsp;
        </span>
      </mat-card>
      <br>
      <br>
    </div>
    <div class="offset-md-1  col-md-5">
      <h2>{{ 'anms.examples.todos.example' | translate }}</h2>
      <p>
        {{ 'anms.examples.todos.text1' | translate }}
        <code>{{ 'anms.examples.todos.text2' | translate }}</code>
        {{ 'anms.examples.todos.text3' | translate }}
      </p>
      <p>
        {{ 'anms.examples.todos.text4' | translate }} <code>ngrx</code>
        {{ 'anms.examples.todos.text5' | translate }}
      </p>
      <p>{{ 'anms.examples.todos.text6' | translate }}</p>
      <br>
    </div>
  </div>

</div> -->



<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'Results' | translate }}</h1>
      <div class="actions">
        <!-- <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="warn" routerLink="../features" class="button">
          {{ 'Search' | translate }}
          </a> -->
<button class="btn-search" type="button" (click)="this.getSearch()">Search!</button>

<ul *ngFor = "let data of apiSearch">
    <li>{{data.game}} </li>
    <button class="btn-search2" type="button" (click)="this.postWant(data)">Add to I Want!</button>
    <button class="btn-search2" type="button" (click)="this.postHave(data)">Add to I Have!</button>
    <button class="btn-search2" type="button" (click)="this.postHad(data)">Add to I Had!</button>
</ul>
      </div>  
    </div>
  </div>
</div>
<div class="container">
  <!-- <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2>{{ 'anms.about.get-notified' | translate }}</h2>
    <p>
      {{ 'anms.about.get-notified.follow' | translate }} <a href="https://www.twitter.com/" target="_blank">Release
        Butler</a>
      {{ 'anms.about.get-notified.description' | translate }}
    </p>

    <img [src]="releaseButler" alt="Release Butler tweet example">
  </div> -->
</div>
<div class="container">
  <div class="contributors" [ngClass]="routeAnimationsElements">
    <!-- <h2>{{ 'anms.about.contributors' | translate }}</h2>
    <p>{{ 'anms.about.contributors.description1' | translate }}</p>
    <p>{{ 'anms.about.contributors.description2' | translate }}</p>
    <p>
      {{ 'anms.about.contributors.description3' | translate }}
      <a href="https://github.com/tomastrajan/angular-ngrx-material-starter/issues" target="_blank">{{'anms.about.contributors.issues'
        | translate}}</a>
      {{ 'anms.about.contributors.description4' | translate }}
      <a href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CONTRIBUTING.md" target="_blank">{{'anms.about.contributors.guide'
        | translate}}</a>
      ...
    </p> -->

    <div class="contributors-wrapper">


      <!-- ALL-CONTRIBUTORS-LIST:START -->
  <!-- <a class="contributor" href="https://medium.com/@tomastrajan" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/3764868?v=4">
    <span>Tomas Trajan</span>
  </a>


  <a class="contributor" href="https://twitter.com/" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/28659384?v=4">
    <span>Tim Deschryver</span>
  </a>


  <a class="contributor" href="http://gs500coder.blogspot.com" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/1336862?v=4">
    <span>Moshe</span>
  </a>


  <a class="contributor" href="https://github.com/hhubik" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/14813201?v=4">
    <span>hhubik</span>
  </a>


  <a class="contributor" href="https://github.com/mumairofficial" target="_blank">
    <img src="https://avatars2.githubusercontent.com/u/6498132?v=4">
    <span>Muhammad Umair</span>
  </a>


  <a class="contributor" href="https://github.com/philmerrell" target="_blank">
    <img src="https://avatars2.githubusercontent.com/u/2514268?v=4">
    <span>Phil Merrell</span>
  </a>


  <a class="contributor" href="https://www.linkedin.com/in/kharshats" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/1059539?v=4">
    <span>Valery Kharshats</span>
  </a>


  <a class="contributor" href="https://1nv1n.GitHub.io/" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/3885804?v=4">
    <span>Neil Pathare</span>
  </a>


  <a class="contributor" href="http://peterkrieg.com" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/7385488?v=4">
    <span>Peter Krieg</span>
  </a>


  <a class="contributor" href="https://github.com/alexkonovalov" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/11887873?v=4">
    <span>Alex</span>
  </a>


  <a class="contributor" href="https://github.com/scheifi" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/42332935?v=4">
    <span>Fiona</span>
  </a>


  <a class="contributor" href="https://www.dehopre.com" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/97023?v=4">
    <span>Fabien Dehopré</span>
  </a>


  <a class="contributor" href="http://www.matiasiglesias.com.ar" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/2591889?v=4">
    <span>Matias Iglesias</span>
  </a>


  <a class="contributor" href="https://github.com/Jeykairis" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/10895934?v=4">
    <span>Jeremy Kairis</span>
  </a>


  <a class="contributor" href="https://github.com/Zuiago" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/8050831?v=4">
    <span>Iago Andrade</span>
  </a>


  <a class="contributor" href="https://github.com/aideslucas" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/8929821?v=4">
    <span>aideslucas</span>
  </a>


  <a class="contributor" href="https://www.linkedin.com/in/terrystrachan/" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/4921146?v=4">
    <span>Terry Strachan</span>
  </a>


  <a class="contributor" href="https://github.com/lau32" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/8844319?v=4">
    <span>Laurentiu Amagdei</span>
  </a>


  <a class="contributor" href="https://github.com/simply10w" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/16257515?v=4">
    <span>Petar Djordjevic</span>
  </a>


  <a class="contributor" href="https://github.com/ZackDeRose" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/3788405?v=4">
    <span>Zachary DeRose</span>
  </a>


  <a class="contributor" href="https://github.com/erhise" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/28264731?v=4">
    <span>erhise</span>
  </a>


  <a class="contributor" href="http://joost.io" target="_blank">
    <img src="https://avatars2.githubusercontent.com/u/14245982?v=4">
    <span>Joost Zöllner</span>
  </a>


  <a class="contributor" href="https://github.com/zetsnotdead" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/15807730?v=4">
    <span>Tomasz Kula</span>
  </a>


  <a class="contributor" href="http://code-it.eu/" target="_blank">
    <img src="https://avatars2.githubusercontent.com/u/18703886?v=4">
    <span>Front-End Developer</span>
  </a>


  <a class="contributor" href="http://vishalsodani.com" target="_blank">
    <img src="https://avatars1.githubusercontent.com/u/364183?v=4">
    <span>Vishal Sodani</span>
  </a>
ALL-CONTRIBUTORS-LIST:END -->

    </div>
  </div>
</div>


