@import '../../../styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }
}
.left {
  float: left;
  margin-left: 25px;
}
.right {
  float: right;
}
.settings {
  // padding-top: 5px;
  // padding-bottom: 5px;
  // padding-right: 136px;
  // margin-right: 10px;
  // margin-bottom: 50px;
  display: block;
  margin: 0 0 0 0;
  border: none;
  border-radius: 10px; 
  background-color: #ffae00;
  color: #ffffff;
}
.account {
  // padding-top: 5px;
  // padding-bottom: 5px;
  // padding-right: 97px;
  // margin-right: 10px;
  // margin-bottom: 50px;
  display: block;
  margin: 0 0 0 0;
  border: none;
  border-radius: 10px; 
  background-color: #ffae00;
  color: #ffffff;
}
.garage {
  background-color: #000000;
  // padding-top: 5px;
  // padding-bottom: 5px;
  // padding-right: 150px;
  // margin-right: 10px;
  display: block;
  margin: 0 0 0 0;
  border: none;
  border-radius: 10px; 
  color: #ffffff;
}

.home {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 190px;
  margin-right: 0;
  margin-top: 0;
}
.profile {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 183px;
  margin-right: 0;
}
.search {
  // padding-top: 5px;
  // padding-bottom: 5px;
  // margin-right: 0;

  display: block;
  border-radius: 10px;
  margin: 20px 20px;
  background-color: #ffae00; 
  border: none;
  color: #ffffff;
  padding: 10px;
}

.search:hover{
  background-color: #000000; 
}

.image {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 40px;
}
.want {
  // padding-top: 15px;
  // padding-bottom: 15px;
  // padding-right: 180px;
  display: inline-block;
  margin: 0 0 0 0;
  border: none;
  border-radius: 10px; 
  background-color: #ffae00;
  color: #ffffff;
}

.want:hover{
  background-color: #000000;
}

.have {
  // padding-top: 15px;
  // padding-bottom: 15px;
  // padding-right: 180px;
  display: inline-block;
  margin: 0 0 0 0;
  border: none;
  border-radius: 10px; 
  background-color: #000000;
  color: #ffffff;
}
.have:hover, .hav:focus{
  background-color: #000000;
}
.had {
  // padding-top: 15px;
  // padding-bottom: 15px;
  // padding-right: 180px;
  display: inline-block;
  margin: 0 0 0 0;
  border: none;
  border-radius: 10px; 
  background-color: #ffae00;
  color: #ffffff;
}
.had:hover, .had:focus{
  background-color: #000000;
}

.center {
  text-align: center;
  display: block;
  position: absolute;
  top: 15%;
  left: 36%;
  // margin: 0 auto 0 0;
}

.test {
  // text-align: center;
  // text-align: center;
  // display: block;
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 160px 0px 0px 290px;
}

.btn-search{
  border: none;
  border-radius: 10px;
  background-color: #ffae00;
  color: #ffffff;
}

.del{
  background-color: #8f0606;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
}

.del:hover{
  background-color: #000000;
}

.btn-search:hover{
  background-color: #000000;
}

.want, .have, .had {
  margin: 10px;
  margin: 10px;
}